body {

    background-color: #f4f5f6;
    color: #333;
    font-size: 13px;
    line-height: 18px;
    font-family: Arial,Helvetica,sans-serif;
    overflow-x: hidden;

}

.hide{
    visibility: collapse;
	overflow-x: hidden;
}

/* COLORS */
.bgd-primary{
    background-color: #f72210;
}

.bgd-secondary{
    background-color: #fff;
}

.primary{
    color: #f72210;
}

/* Border */
.bd-0{
    border-width: 0px;
}
.bd-1{
    border-width: 1px;
}
/* Header */

.container-fluid, .container {
    max-width: 1310px;
}
header{
    color: #fff;
}

.page-header .header .date {
    /* display: none; */
    font: 16px/34px "Roboto Condensed",sans-serif;
    /* color: #fff; */
}

.page-header .header .logo{
    /* display: none; */
    font: 66px/34px "Times New Roman",serif;
    font-weight: bolder;
    color: #fff;
    text-decoration: none;
}

/* Navbar */
.page-header .navbar::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 66px;
    background-color: #f72210;
    border-left: 12px solid #fff;
    border-top: 13px solid #f72210;
}

.navbar {
    /* padding-top: 0px;
    padding-bottom: 0px; */
    border-bottom-width: 2px;
    border-bottom-style: solid;
    z-index: 1;
    color: #ddd;
}
ul.page-nav {
    font-size: 20px;
    font-weight: 700;
    font-family: "Roboto Condensed",sans-serif;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 0px;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
}
.page-header ul.page-nav li.nav-item:first-child {
    border-left-width: 0;
}
.page-header ul.page-nav li.nav-item {
    border-left:1px solid #d9d9d9;
}
ul.page-nav a{
    color: #000;
    text-decoration: none;
    padding: .5rem 1.15rem;
}

form{
    width: 100px;
}
form input.nav-form{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    /* padding: .375rem .75rem; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 0px solid #ced4da;
}

form i.fas {
    position: absolute;
    top: 26px;
    right: 60px;
    color: black;
    font-size: 1rem;
    /* font-weight: 100; */
}
[class*="section-"]{

}

.section-one{

}

.section-one .row .featured-story{
    height: 200px;
    background: #fdfdfd;
    border: 1px solid #000;
}


/*Section two*/
.section-two h1 {
	text-align: center;
	font-size: large;
}

.section-two h1 img {
	height: 29px;
	width: 28px;
}

.section-two {
	padding: 10px;
}

.section-two-container img {
	width: 280px;
	height: 279px;
}

.section-two-container {
	padding: 20px;
}

.section-two-container div {
	margin-top: 7px;
}

.section-two-container span {
	background-color: red;
    color: white;
    font-size: large;
    font-weight: 600;
    margin-top: 5px;
}

.section-two-container a {
	color: red;
    font-size: large;
    padding-left: 7px;
	font-weight: 700;

}

.section-two-container h2 {
	font-size: large;
	font-weight: 700;
	margin-top: 5px;
}

.specialcon,.specialcon2 {
	position: relative;
}

.specialcon div  {
	position: absolute;
    background-color: #dcd5d5;
    color: red;
    font-weight: 700;
    top:268px;
}

.specialcon2 div {
	position: absolute;
	background-color: red;
	color: white;
	 font-weight: 700;
    top:268px;
}
